
@{
    ViewData["Title"] = "RefreshData";
}

<h1>Refresh Data</h1>

<p>This will <b>update all data on the portal.</b> Are you sure?</p>


<a href="/api/DepartmentContact" class="btn btn-primary">Refresh</a>
<a asp-action="Index">Go back</a>