
@{
    ViewData["Title"] = "RefreshData";
}

<h1>Refresh Data</h1>

<p>This will <b>update all data on the portal.</b> Are you sure?</p>

<form asp-action="RefreshData">
    <div class="form-group">
        <input type="submit" value="Refresh" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Go back</a>